#User {
  padding-top: 15px;
}
#User input::-webkit-outer-spin-button,
#User input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
