body {
  -webkit-user-select: none;
  background: #dbdbdb;
  overflow: hidden;
}
body div {
  display: table;
  table-layout: fixed;
  height: 100%;
  position: absolute;
  width: 100%;
}
body div p {
  cursor: default;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 3em;
  width: 100%;
  color: #9c9c9c;
}
